.background-custom {
  background: url("https://i.imgur.com/O8aPd8D.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}