.card-info {
  width: 40%;
  height: 55vh;
  padding: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.card-content-job {
  width: 40%;
  height: 55vh;
  padding: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  text-align: justify;
  text-justify: inter-word;
  overflow: auto;
}

.info-name-company {
  font-weight: bold;
  font-size: 30px;
}

.style-content {
  font-family: 'Roboto';
  font-weight: 400;
}

.title-job {
  font-size: 40px;
  font-weight: 900 !important;
  font-family: 'Nunito', sans-serif;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.445);
}