.btn-apply {
  margin-top: 40px;
  text-align: center;
}

.card-info {
  width: 30%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.card-content-job {
  width: 30%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  padding: 15px;
  text-align: justify;
  text-justify: inter-word;
  height: 30vh;
  overflow: auto;
}

.info-name-company {
  font-weight: bold;
  font-size: 30px;
}

.style-content {
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-weight: normal;
}

.title-job {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 32px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif ;
}