<div class="homepage">
  <div class="main-container">
    <div class="col-lg-12">
      <div class="intro-text">
        <span class="main text-center">Trato - Careers are built on networks.</span>
        <p class="sub text-center">Jobs, Freelancers and many more! </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center container-link">
        <%= link_to "Check our opportunities", jobs_path , class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>