.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 5px 5px -5px #333;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-arrows {
  &:hover {
    cursor: pointer;
  }
}

.dropdown-toggle::after {
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent;
  vertical-align: 0em;
}